
.card {
    display: grid;
    background-color: rgb(209, 174, 140);
    border-radius: 15px;
    box-shadow: inset 10px;
    justify-content: space-evenly;
    padding: 20px;
    margin: 10px;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30px 60px 60px 30px;
    
}

h2{
    background-color: transparent;
    color: rgb(33, 50, 135);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 1;

}

.card__text {
    background-color: transparent;
    display: grid;
    position: relative;
    word-wrap: break-word;
    padding: 50px;
    grid-column: 1 / 4;
    grid-row: 1 / 2 ;
    
}

.button__answer {
    background:linear-gradient(to left, rgb(98, 190, 51), orange);
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 7 / 8;

}

.answer {
    
    color: rgb(33, 50, 135);
    grid-column: 1 7;
    grid-row: 3/ 4;
    position: relative;
    
}

.bookmarkicon {
    position: absolute;
    color: black;
    right: 0;
    top: -5px;
}
